# # Бинарные файлы (результат сборки)
# # Если называешь бинарник иначе, добавь свое имя
# main
# *.exe
# *.exe~
# *.dll
# *.so
# *.dylib
# bin/

# # Конфиденциальные данные
# # НИКОГДА не пушь этот файл в публичный репозиторий
# *.env
# config.env

# # Зависимости
# # Обычно vendor/ не пушат, так как есть go.mod
# vendor/

# # Логи
# *.log

# # Файлы IDE и системные файлы
# .idea/
# .vscode/
# *.swp
# *.swo
# .DS_Store

# # Временные файлы тестов
# *.test
# /coverage.out

# *.sql
# *.db